@charset "utf-8";
/* Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

body,
html {
	height: 100%
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	background-color: #d0cfd4;
}

.card {
	margin: 5% auto;
	float: none;
}
